legacy-peer-deps=true
fund=false
strict-peer-dependencies=false
publish-branch=develop
engine-strict=true
use-node-version=20.15.1
prefer-workspace-packages=true
save-workspace-protocol=rolling
link-workspace-packages=false
save-prefix=""