{
	"trailingComma": "all",
	"bracketSpacing": true,
	"useTabs": false,
	"tabWidth": 2,
	"semi": true,
	"singleQuote": true,
	"pluginSearchDirs": ["."],
	"overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }]
}
