*,
*::before,
*::after {
  box-sizing: border-box;
}
:root {
  --color-background: #0e0e0e;
  --color-text: #ffffff;
  --color-text-muted: rgb(169, 169, 169);
}
body {
  font-size: var(--vscode-editor-font-size);
  background-color: var(--color-background);
  color: var(--color-text);
}
a[role='button'] {
  cursor: pointer;
}
details > summary {
  cursor: pointer;
  user-select: none;
}
h1 {
  font-size: 1.4em;
}
h2 {
  font-size: 1.25em;
}
h3 {
  font-size: 1.15em;
}
h4 {
  font-size: 1.08em;
}
h2,
h3,
h4 {
  margin: 0;
}
ul {
  /* decrease default indent */
  padding-inline-start: 1.5em;
}
