@layer global {
	*,
	*::before,
	*::after {
		box-sizing: border-box;
	}
	:root {
		--color-background: var(--vscode-list-focusBackground, #171717);
		--color-text: var(--vscode-list-focusForeground, #d8d8d8);
		--color-text-muted: var(--vscode-list-hoverForeground, #a0a0a0);
		--color-text-link: var(--vscode-textLink-activeForeground, #3794ff);
		--color-text-error: var(--vscode-list-errorForeground, #e72929);
		--color-text-warning: var(--vscode-list-warningForeground, #ccaa00);
	}
	body {
		font-size: var(--vscode-editor-font-size, 1.5em);
		background-color: var(--color-background);
		color: var(--color-text);
	}
	a {
		color: var(--color-text-link);
	}
	a[role='button'] {
		cursor: pointer;
	}
	details > summary {
		cursor: pointer;
		user-select: none;
	}
	h1 {
		font-size: 1.4rem;
	}
	h2 {
		font-size: 1.25rem;
	}
	h3 {
		font-size: 1.15rem;
	}
	h4 {
		font-size: 1.08rem;
	}
	h2,
	h3,
	h4 {
		margin: 0;
	}
	ul,
	ol {
		/* decrease default indent */
		padding-inline-start: 1.5rem;
	}

	ul.reset,
	ol.reset {
		padding: 0;
		margin: 0;
	}
	ul.reset li,
	ol.reset li {
		list-style: none;
		padding: 0;
		margin: 0;
	}
}
